@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  position: relative;
  background: #333 url(/bg.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 5rem;
  font-family: "Open Sans";
  gap: 0.5rem;
}

.main-text {
  font-size: 5rem;
  color: white;
}

.secondery-text {
  font-size: 2rem;
  color: white;
}

/* .txt-type > .txt {
  border-right: 0.3rem solid black;
  padding-right: 0.1rem;
} */